In [113]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [114]:
#I'm interested in type of healthcare, cost of living, education systems, etc.
df19 = pd.read_csv('2019.csv')
df19 = df19.head(20)
df19

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310
16,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265
17,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210
18,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128
19,20,Czech Republic,6.852,1.269,1.487,0.920,0.457,0.046,0.036

In [115]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  20 non-null     int64
 1   Country or region             20 non-null     object
 2   Score                         20 non-null     float64
 3   GDP per capita                20 non-null     float64
 4   Social support                20 non-null     float64
 5   Healthy life expectancy       20 non-null     float64
 6   Freedom to make life choices  20 non-null     float64
 7   Generosity                    20 non-null     float64
 8   Perceptions of corruption     20 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 1.5+ KB

In [116]:
#Healthcare Information taken from Wikipedia https://en.wikipedia.org/wiki/Health_care_systems_by_country
#Alphabetise by country
df19 = df19.sort_values("Country or region")
df19

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
17,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
19,20,Czech Republic,6.852,1.269,1.487,0.920,0.457,0.046,0.036
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
16,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278
18,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128

In [117]:
#Create function to get type of healthcare system
#Healthcare Information taken from Wikipedia https://en.wikipedia.org/wiki/Health_care_systems_by_country
def healthcare(country):
    if country['Country or region'] == 'Australia' or country['Country or region'] == 'Canada' or country['Country or region'] == 'Costa Rica' or country['Country or region'] == 'Denmark' or country['Country or region'] == 'Finland' or country['Country or region'] == 'Iceland' or country['Country or region'] == 'Ireland' or country['Country or region'] == 'New Zealand' or country['Country or region'] == 'Norway' or country['Country or region'] == 'Sweden' or country['Country or region'] == 'United Kingdom':
        return 'Universal government-funded'
    if country['Country or region'] == 'Belgium' or country['Country or region'] == 'Luxembourg' or country['Country or region'] == 'Czech Republic':
        return 'Universal public'
    if country['Country or region'] == 'Austria' or country['Country or region'] == 'Germany':
        return 'Public private'
    if country['Country or region'] == 'Israel' or country['Country or region'] == 'Netherlands' or country['Country or region'] == 'Switzerland':
        return 'Universal private'
    if country['Country or region'] == 'United States':
        return 'Non-universal'
    else:
        return 'Other'

In [118]:
df19.apply(lambda country:healthcare(country), axis=1)

10    Universal government-funded
9                  Public private
17               Universal public
8     Universal government-funded
11    Universal government-funded
19               Universal public
1     Universal government-funded
0     Universal government-funded
16                 Public private
3     Universal government-funded
15    Universal government-funded
12              Universal private
13               Universal public
4               Universal private
7     Universal government-funded
2     Universal government-funded
6     Universal government-funded
5               Universal private
14    Universal government-funded
18                  Non-universal
dtype: object

In [119]:
df19['Healthcare system'] = df19.apply(lambda country:healthcare(country), axis=1)
df19

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Healthcare system
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290,Universal government-funded
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,Public private
17,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210,Universal public
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,Universal government-funded
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093,Universal government-funded
19,20,Czech Republic,6.852,1.269,1.487,0.920,0.457,0.046,0.036,Universal public
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Universal government-funded
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Universal government-funded
16,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265,Public private
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Universal government-funded
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310,Universal government-funded
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082,Universal private
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316,Universal public
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Universal private
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,Universal government-funded
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Universal government-funded
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,Universal government-funded
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,Universal private
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278,Universal government-funded
18,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128,Non-universal

In [120]:
living_cost = pd.read_csv('Cost_of_living.csv').sort_values('Country')
living_cost = living_cost.rename(columns={'Country': 'Country or region'})
living_cost.head(20)

,Country or region,Cost of living index,Monthly income,Purchasing power index
98,Afghanistan,33.6,45 USD,2.4
68,Albania,47.6,437 USD,16.7
85,Algeria,41.7,331 USD,14.5
65,Argentina,49.4,933 USD,34.5
75,Armenia,45.1,390 USD,15.8
13,Australia,106.9,4576 USD,78.1
24,Austria,96.3,4275 USD,81.0
87,Azerbaijan,41.1,373 USD,16.6
8,Bahamas,116.0,2648 USD,41.7
76,Bangladesh,44.6,162 USD,6.6
74,Belarus,46.6,523 USD,20.5
22,Belgium,98.3,3946 USD,73.3
1,Bermuda,190.3,8845 USD,84.8
71,Bolivia,47.3,294 USD,11.4
69,Bosnia and Herzegovina,47.5,513 USD,19.7
50,Brazil,57.1,761 USD,24.3
73,Bulgaria,46.9,784 USD,30.5
46,Burma,62.1,116 USD,3.4
42,Cambodia,65.6,123 USD,3.4
19,Canada,100.0,3864 USD,70.5

In [121]:
#Make sure that countries match between datasets
df19[(~df19['Country or region'].isin(living_cost['Country or region']))]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Healthcare system
19,20,Czech Republic,6.852,1.269,1.487,0.92,0.457,0.046,0.036,Universal public

In [122]:
#Checking for any word in living_cost dataframe that contains the word 'Czech'
living_cost[living_cost['Country or region'].str.contains("Czech")]

,Country or region,Cost of living index,Monthly income,Purchasing power index
43,Czechia,64.1,1833 USD,52.2

In [123]:
#The two datasets have different names for Czech Republic/Czechia
#Need to edit in one of the datasets before combining
living_cost['Country or region'] = living_cost['Country or region'].str.replace('Czechia', 'Czech Republic')
living_cost.head(30)

,Country or region,Cost of living index,Monthly income,Purchasing power index
98,Afghanistan,33.6,45 USD,2.4
68,Albania,47.6,437 USD,16.7
85,Algeria,41.7,331 USD,14.5
65,Argentina,49.4,933 USD,34.5
75,Armenia,45.1,390 USD,15.8
13,Australia,106.9,4576 USD,78.1
24,Austria,96.3,4275 USD,81.0
87,Azerbaijan,41.1,373 USD,16.6
8,Bahamas,116.0,2648 USD,41.7
76,Bangladesh,44.6,162 USD,6.6
74,Belarus,46.6,523 USD,20.5
22,Belgium,98.3,3946 USD,73.3
1,Bermuda,190.3,8845 USD,84.8
71,Bolivia,47.3,294 USD,11.4
69,Bosnia and Herzegovina,47.5,513 USD,19.7
50,Brazil,57.1,761 USD,24.3
73,Bulgaria,46.9,784 USD,30.5
46,Burma,62.1,116 USD,3.4
42,Cambodia,65.6,123 USD,3.4
19,Canada,100.0,3864 USD,70.5
0,Cayman Islands,195.0,3928 USD,36.8
41,Chile,65.8,1251 USD,34.7
53,China,55.4,868 USD,28.6
84,Colombia,41.9,543 USD,23.6
32,Costa Rica,75.0,975 USD,23.7
44,Croatia,63.2,1243 USD,35.8
49,Cuba,58.6,623 USD,19.4
43,Czech Republic,64.1,1833 USD,52.2
7,Denmark,118.4,5270 USD,81.2
45,Dominican Republic,62.1,674 USD,19.8

In [124]:
df_combined = pd.merge(df19, living_cost, on='Country or region', how='inner')
df_combined

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Healthcare system,Cost of living index,Monthly income,Purchasing power index
0,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290,Universal government-funded,106.9,4576 USD,78.1
1,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,Public private,96.3,4275 USD,81.0
2,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210,Universal public,98.3,3946 USD,73.3
3,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,Universal government-funded,100.0,3864 USD,70.5
4,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093,Universal government-funded,75.0,975 USD,23.7
5,20,Czech Republic,6.852,1.269,1.487,0.920,0.457,0.046,0.036,Universal public,64.1,1833 USD,52.2
6,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Universal government-funded,118.4,5270 USD,81.2
7,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Universal government-funded,104.8,4132 USD,71.9
8,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265,Public private,90.7,4043 USD,81.3
9,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Universal government-funded,135.1,6071 USD,82.0
10,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310,Universal government-funded,110.3,5184 USD,85.7
11,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082,Universal private,118.9,3608 USD,55.4
12,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316,Universal public,111.4,6159 USD,100.9
13,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Universal private,99.5,4433 USD,81.3
14,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,Universal government-funded,106.0,3556 USD,61.2
15,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Universal government-funded,130.5,6875 USD,96.1
16,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,Universal government-funded,101.9,4653 USD,83.3
17,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,Universal private,144.3,7125 USD,90.1
18,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278,Universal government-funded,101.3,3531 USD,63.6
19,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128,Non-universal,100.0,5480 USD,100.0

In [125]:
#Checking if any rows of df19 were dropped
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  20 non-null     int64
 1   Country or region             20 non-null     object
 2   Score                         20 non-null     float64
 3   GDP per capita                20 non-null     float64
 4   Social support                20 non-null     float64
 5   Healthy life expectancy       20 non-null     float64
 6   Freedom to make life choices  20 non-null     float64
 7   Generosity                    20 non-null     float64
 8   Perceptions of corruption     20 non-null     float64
 9   Healthcare system             20 non-null     object
 10  Cost of living index          20 non-null     float64
 11  Monthly income                20 non-null     object
 12  Purchasing power index        20 non-null     float64
dtypes: float64(9), int64(1), object(3)
memory usage: 2.2+ KB